@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
  height: 100%;
}


.single-card:hover {
  transform: rotateY(180deg);
}
@keyframes joinDotsAnimation {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dashed_path {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  transition: stroke-dashoffset 8s ease-in-out;
  visibility: hidden; 
}

.visible .dashed_path {
  visibility: visible; /* Show the path when the parent has the 'visible' class */
}

.join-dots {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: joinDotsAnimation 1s forwards;
}
